logs
*.log
pids
node_modules
.npm
*.dat

production.json
development.json
staging.json

xunit.xml

debug
npm-debug.log
.DS_Store
_SpecRunner.html
test_results
coverage
*.backup
.idea
*.swp
/scratch
/tmp
